$grey:#999999;
$greyText:#737373;
$greyBackground:#f3f3f3;
$greyBlueTint:#9da4b4;
$greyLight:#979797;

$transparentBlack_glass:#000000a3;
$whiteGlass:#ffffffac;

$primary:#08ada7;
$primaryBackground:adjust-color($primary, $lightness:58%);
$secondary:#0A918B;
$dangerPrimary:#ea3434;

$red1:#e94e4e;
$redLight:#f67979;

$green1:#0acd47;